repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-json
      - id: check-toml
      - id: check-yaml
      - id: detect-private-key
      - id: mixed-line-ending

  - repo: https://github.com/dnephin/pre-commit-golang
    rev: v0.5.1
    hooks:
      - id: go-fmt
      - id: go-vet
      - id: go-mod-tidy
      - id: golangci-lint

  - repo: local
    hooks:
      - id: make-test
        name: Run tests
        entry: make test
        language: system
        pass_filenames: false
        always_run: true

      - id: make-gocyclo
        name: Check code complexity
        entry: make gocyclo
        language: system
        pass_filenames: false
        always_run: true
